{{ define "main" }}
<article id="about">
    <div class="featured-image">
        {{ with .Resources.Get "mateusz-front-1200x1200.jpg" }}
        <img src="{{ .RelPermalink }}" class="avatar"
            alt="The page author standing in the graduation gown." />
        {{ end }}
    </div>

    <h2>About Me</h2>

    <section>
        <p>
            I am an ex-Microsoft, ex-CERN software engineer with a PhD in Mechanical and Aerospace Engineering. I perform the roles of a backend developer, DevOps engineer, technical lead, and engineering manager. Currently, I am a founding software engineer at Genie. We are building a new-generation portfolio management system powered by AI.
        </p>
        <p>
            Besides taking leadership responsibilities, I remain an active contributor. Python is my primary programming language at work, and I use Golang for side projects. I can pick up new tech without much effort. Before Python, I worked on Java, Scala, C#, and C++ projects for roughly eight years. My secondary specialization is DevOps (CKAD). Understanding available infrastructure solutions helps me and my teams to build more reliable applications faster and cheaper.
        </p>
        <p>
            I am based in Kraków. Before moving there, I was studying for my PhD in beautiful Scotland. I obtained extensive training in Mathematical Optimization and Operations Research. I consolidated this knowledge in a few projects focused on solving practical combinatorial optimization problems that using Constraint Programming and Linear Programming techniques. Supported by great colleagues, I published the results of my work in leading academic journals.
        </p>
    </section>
</article>
{{ end }}
